@font-face {
  font-family: 'Source Sans 3';
  src: url('SourceSans3-Light.woff2') format('woff2'),
      url('SourceSans3-Light.woff') format('woff');
  font-weight: 300;
}
@font-face {
  font-family: 'Source Sans 3';
  src: url('SourceSans3-Regular.woff2') format('woff2'),
      url('SourceSans3-Regular.woff') format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'Source Sans 3';
  src: url('SourceSans3-Bold.woff2') format('woff2'),
      url('SourceSans3-Bold.woff') format('woff');
  font-weight: 700;
}



