:root {
  --main-color: #131313;
  --mint-gradient: linear-gradient(74deg, #34E48F -8.4%, #3EDFF5 96.66%);
  --peach-gradient: linear-gradient(67deg, #FFE663 2.61%, #DE6DF0 98.48%);
  --blue-gradient: linear-gradient(67deg, #9043F2 2.6%, #87DBFF 97.97%);
  --green-gradient: linear-gradient(67deg, #2BC0CA 2.61%, #A2E479 98.48%);
  --orange-gradient: linear-gradient(71deg, #E4B334 -4.61%, #F37474 96.78%);
  --purple-gradient: linear-gradient(67deg, #CE45C0 2.61%, #706DF0 98.48%);
  --light-blue-gradient: linear-gradient(67deg, #4393F2 2.6%, #87C6FF 97.97%);
  --yellow-gradient: linear-gradient(67deg, #EFF243 2.6%, #F06DB4 97.97%);
}